/* Primary colors used in project: #282820 (dark grey), #cdc027 (yellow), 
*/
@font-face {
    font-family:'Kode Mono' ;
    src: url('./fonts/Kode_Mono/KodeMono-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Manrope';
    src: url('./fonts/Manrope/Manrope-VariableFont_wght.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #282820;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 2fr 2fr 1fr;
    height: 100vh;
}

header {
    display: grid;
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-family: 'Kode Mono';
    line-height: 3rem;
}

header h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: #cdc027;
    -webkit-text-stroke: 0.15rem #141410;
}

header aside {
    font-size: 1.3rem;
    color:#b3a622;
    text-decoration: underline;
}

header input {
    position: relative;
    top: 4rem;
    font-size: 0.8rem;
    font-family: 'Manrope';
    background-color: #141410;
    width: 50%;
    color:#b3a622;
    justify-self: center;
    cursor: pointer;
    border-radius: 0.3rem;
    transition: all 0.3s ease-out;
}

header input:hover {
    padding: 0.2rem;
    box-shadow: 0 0 2rem black, 0 0 0.2rem black inset;
    font-size: 0.9rem;
    width: auto;
}


#artwork {
    display: grid;
    grid-column: 2 / span 2;
    grid-row: 3 / span 1;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.projects {
    display: grid;
    grid-column: 2 / span 2;
    grid-row: 4 / span 1;
    align-items: center;
    justify-content: space-around;
}

.projects a {
    font-family: 'Manrope';
    background-color: #57564e;
    padding: 0.6rem;
    border-radius: 0.4rem;
    width: auto;
    text-align: center;
    text-decoration: none;
    color: #b3a622;
    border: 0.1rem solid #b3a622;
    box-shadow: 0 0 1.5rem black, 0 0 0.3rem black inset;
    transition: all 0.3s ease-out;
}

.projects a:hover {
    padding: 0.9rem;
    box-shadow: 0 0 2rem black, 0 0 0.7rem black inset;
}

.projects p {
    text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.contact {
    display: flex;
    grid-column: 2 / span 2;
    grid-row: 5 / span 1;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.contact a{
    display: inline;
    margin: 0rem 2rem;
    padding: 1rem;
}

